git+https://github.com/BeatButton/asyncqlio.git
git+https://github.com/Rapptz/discord-ext-menus.git
git+https://github.com/Rapptz/discord.py.git
asyncjisho
asyncpg
jishaku
lxml
objgraph
parsedatetime
psutil
toml
uvloop
