git+https://github.com/BeatButton/asyncqlio.git
git+https://github.com/Rapptz/discord.py.git
git+https://github.com/Gorialis/jishaku.git
discord-ext-menus
asyncjisho
asyncpg
lxml
objgraph
Pillow
psutil
python-dateutil
recurrent
tldextract
toml
uvloop
